#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>
#include <dt-bindings/i2c/i2c.h>

/ {
    chosen { 
        zmk,kscan = &kscan0;
        zephyr,display = &oled;
        zmk,matrix-transform = &default;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_RIGHT";
        /* Right half rows: P0.29, P1.13, P0.10, P0.09 */
        row-gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P0.29 */
                    <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P1.13 */
                    <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* P0.10 */
                    <&gpio0 9  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;  /* P0.09 */
        /* Right half cols: P1.06, P1.04, P0.11, P1.00, P0.24, P0.22 */
        col-gpios = <&gpio1 6  GPIO_ACTIVE_HIGH>,  /* P1.06 */
                    <&gpio1 4  GPIO_ACTIVE_HIGH>,  /* P1.04 */
                    <&gpio0 11 GPIO_ACTIVE_HIGH>,  /* P0.11 */
                    <&gpio1 0  GPIO_ACTIVE_HIGH>,  /* P1.00 */
                    <&gpio0 24 GPIO_ACTIVE_HIGH>,  /* P0.24 */
                    <&gpio0 22 GPIO_ACTIVE_HIGH>;  /* P0.22 */
        diode-direction = "col2row";
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
        wakeup-source;
    };

    default: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <4>;
        /* Map physical (row-major) to logical Corne order (reverse columns) */
        map = <5 4 3 2 1 0  11 10 9 8 7 6  17 16 15 14 13 12  23 22 21 20 19 18>;
    };
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        status = "okay";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        prechargep = <0xF1>;
    };
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 20)>,
                    <NRF_PSEL(TWIM_SDA, 0, 17)>;
            bias-pull-up;
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 0, 20)>,
                    <NRF_PSEL(TWIM_SDA, 0, 17)>;
            bias-pull-up;
            low-power-enable;
        };
    };
};