if SHIELD_CORNE_HW_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne HW"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE
    default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif
